DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_password
DATABASE_NAME=studyhub
PORT=3001

# Redis (Upstash or local)
# For Upstash (TLS):
# REDIS_URL=rediss://default:<token>@<host>.upstash.io:6379
# For local Docker:
# REDIS_HOST=localhost
# REDIS_PORT=6379
